* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./data/marioBG.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.main-container {
    margin-top: 70px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#color-palette {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board-size {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#generate-board-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#generate-board-button {
    background-color: white;
    width: 50px;
    height: 20px;
    border: solid black 1px;
    border-radius: 5px;
    text-justify: distribute;
}

#generate-board-button:hover {
    -webkit-box-shadow: 3px 3px 10px 3px black;
    -moz-box-shadow: 3px 3px 10px 3px black;
    box-shadow: 3px 3px 10px 3px black;
  }

#black {
    margin-right: 5px;
    border: solid black 1px;
    border-radius: 100%;
    border-color: black;
    width: 50px;
    height: 50px;
    background-color: black;
}

.color {
    margin-right: 5px;
    border: solid black 1px;
    border-radius: 100%;
    border-color: black;
    width: 50px;
    height: 50px;
}

#clear-board-btn {
    background-color: white;
    width: 50px;
    height: 20px;
    border: solid black 1px;
    border-radius: 5px;
    text-justify: distribute;
}

#clear-board-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pixel {
    background-color: white;
    width: 40px;
    height: 40px;
    border: solid black 1px;
    display: inline-flex;
}

.pixel:hover{
    transform: scaleX(1.05);
}

.random-color-button {
    background-color: white;
    width: 80px;
    height: 40px;
    border: solid black 1px;
    border-radius: 5px;
    text-justify: distribute;
}

.random-color-button:hover {
  -webkit-box-shadow: 3px 3px 10px 3px black;
  -moz-box-shadow: 3px 3px 10px 3px black;
  box-shadow: 3px 3px 10px 3px black;
}

#pixel-board {
    width: fit-content;
    margin: auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}